<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"><script src="https://use.fontawesome.com/107a50b4ae.js"></script><title>steamlog</title><script>window.info = {        
        name: "{{user.name}}",
        steam_id: "{{user.steam_id}}",
        state: {{user.state}},
        picture: "{{user.picture}}"
      }</script><link href="/static/css/main.59012d87.css" rel="stylesheet"></head><body><div id="app"></div><script type="text/javascript" src="/static/js/main.61a51c72.js"></script></body></html>