body {
  background-color: #fbfbfb;
  font-family: "Roboto";
  margin-top: 1.5em;
}

.card {
  background-color: #fff;
  border-radius: 1px;
  margin: 0.5em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card_content {
  padding: 1em;
}
.card_title {
  border-radius: 2px 2px 0 0;
  background-color: #2d2d2d;
  color: #fff;
  padding: 0.25em 1em;
  font-weight: bold;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.11);
}

.profile_pic {
  display: block;
  border-radius: 50%;
  max-width: 200px;
  width: 100%;
  height: auto;
  margin: 1em auto 1em auto;
}

.steamProfileLink {
  background-color: #000;
  color: #fff;
  text-align: left;
  display: inline-block;
  padding: 0.1em 0.7em;
  border-radius: 2px;
  user-select: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.steamProfileLink:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}

.search {
  width: calc(100% - 1em);
  margin: 0.5em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
} .search:hover, .search:focus {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}