.card {
  width: calc(100% - 0.6em);
  min-width: 210px;
  background-color: #fff;
  border-radius: 2px;
  margin: 0.3em;
  flex: 1;
}

.card .heading {
  padding: 10px;
  background-image: linear-gradient(to right, rgba(122,186,255,1) 0%, rgba(122,186,255,1) 30%, rgba(113,149,214,1) 100%);
  color: #ffffff;
  border-radius: 2px;
}