.card {
  width: calc(100% - 1em);
  min-width: 300px;
  background-color: #fff;
  border-radius: 2px;
  margin: 0.5em;
  flex: 1;
  overflow: hidden;
}

.card .heading {
  padding: 17px;
  font-size: 18px;
  color: #ffffff;
}
