.card {
  width: calc(100% - 1em);
  min-width: 300px;
  background-color: #fff;
  border-radius: 2px;
  margin: calc(0.5em + 1px) 0.5em;
  flex: 1;
}

.card .heading {
  padding: 17px;
  font-size: 18px;
  color: #ffffff;
  border-radius: 2px 2px 0 0;
  position: relative;
  top: -2px;
}
