.profile {
  overflow: hidden;
}

.profile .color {
  min-height: 120px;
  margin-bottom: 130px;
  position: relative;
}

.profile img {
  border-radius: 50%;
  border: 10px solid #fff;
  background-color: #fff;
  user-select: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -130px;
}

.profile .main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile .title {
  max-width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.profile h1 {
  max-width: 100%;
  word-wrap: break-word;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.controls {
  position: absolute;
  right: 0;
  padding: 7px;
}

.controls .fa {
  padding: 8px;
  font-size: 30px;
  color: #fff;  
} .controls .fa:hover {
  cursor: pointer;
  color: #f9f9f9;
}

.spinning {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0%   {-webkit-transform: rotate(0deg)}
  100% {-webkit-transform: rotate(360deg)}
}