.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.profile .image_wrapper {
  display: block;
  width: 100%;
  border-radius: 2px 2px 0 0;
  position: relative;
  top: -2px;
}

.profile img {
  border-radius: 50%;
  display: block;
  border: 10px solid white;
  background-color: white;
  margin: 40px auto 0 auto;
}

.profile .title {
  max-width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  text-transform: uppercase;
}

.profile h1 {
  max-width: 100%;
  word-wrap: break-word;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.profile .fa-refresh {
  position: absolute;
  right: 0;
  top: -2px;
  padding: 15px;
  font-size: 30px;
  color: #fff;
  z-index: 1;
} .profile .fa-refresh:hover {
  cursor: pointer;
  color: #f9f9f9;
}

.spinning {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0%   {-webkit-transform: rotate(0deg)}
  100% {-webkit-transform: rotate(360deg)}
}